LABEL_STUDIO_HOST=https://yidelearn.com/label-studio
HOST=https://yidelearn.com/label-studio
LABEL_STUDIO_DISABLE_SIGNUP_WITHOUT_LINK=true
DISABLE_SIGNUP_WITHOUT_LINK=true
USE_USERNAME_FOR_LOGIN=true
LABEL_STUDIO_USE_USERNAME_FOR_LOGIN=true
LABEL_STUDIO_BASE_DATA_DIR=/opt/label-studio/data
SSRF_PROTECTION_ENABLED=true
DJANGO_DB=sqlite
LOG_LEVEL=INFO
CSRF_TRUSTED_ORIGINS=https://yidelearn.com,https://www.yidelearn.com
LABEL_STUDIO_CSRF_TRUSTED_ORIGINS=https://yidelearn.com,https://www.yidelearn.com
USE_X_FORWARDED_HOST=true
LABEL_STUDIO_USE_X_FORWARDED_HOST=true
SECURE_PROXY_SSL_HEADER=true
LABEL_STUDIO_SECURE_PROXY_SSL_HEADER=true
CSRF_COOKIE_SECURE=1
SESSION_COOKIE_SECURE=1
