username	password
username        password
pku-coder001    Bi3Zwj8g52
pku-coder002    v9XfsRnuSc
pku-coder003    GyBUYurX3E
pku-coder004    Mqgfg64DJL
pku-coder005    uS3zn7rCaZ
pku-coder006    JuhgEDnGXM
pku-coder007    ep6Ctjci2s
pku-coder008    nVQ46vATZy
pku-coder009    Ov9bRhOf4t
pku-coder010    HTy8yjehSq
pku-coder011    BFRm1CFnRE
pku-coder012    gEobRP5srd
pku-coder013    L5hZQ0i1ch
pku-coder014    V2pdGb7LIX
pku-coder015    3jov1jU1W5
pku-coder016    yoWIPKuNKM
pku-coder017    QfR0x65fF2
pku-coder018    eNeibgD78R
pku-coder019    WmreanQtPg
pku-coder020    AJLYp9kPfl
pku-coder021    Ei66Ns5vcX
pku-coder022    bqFKVUDt8q
pku-coder023    CADUqsawtj
pku-coder024    CeJFCoT32h
pku-coder025    Y4Wq7DtXrU
pku-coder026    dStdUpPom6
pku-coder027    RNN3qX7JVe
pku-coder028    iEfc5h6aXY
pku-coder029    H52tOeeZNx
pku-coder030    v8vivW5NyJ
